.main-div {
    padding-bottom: 50px;
    min-height: 550px;
}

#app{
    background-color: #f8feff;
    /* background-color: #50c5d6; */
    background-image: linear-gradient( #f8feff, #e2e2e2);
    height: 100%;

    /* background: url(../img/bg-blue.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */

    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* COLORS */

.cp_dark{
    color: #ff9000;
}
.cp_light_dark{
    color: #f8af00;
}
.cp_light{
    color: #ffc600;
}

.gray {
    color: #ececec;
}
.green {
    color: #81d742;
}
.dark {
    color: #464e4e;
}
.matt-green {
    color: #28a745;
}
.tortoise {
    color:#50c5d6;
}

#bb-crumb-sticky{
    position: sticky;
    top: 52px;
    z-index: 50;
}

/* CUSTOM */
.nav-link {
    color: #FFF !important;
}
.nav-link:hover{
    color: #fffae9 !important;
}

.aliquote-column-width{
    width: 20%;
}

.wb-column-width{
    width: 12%;
}


/* ISSUANCE FORM */
.issuance-form{
    padding: 48px;
    /* width: 2480;
    height: 3508; */

    /* width: 595; */
    /* height: 842; */
    /* border: 1px solid #333; */
    font-family: 'Times New Roman', Times, serif;
    size: 11px;
}
/* body {
		font-size: 11pt;
} */
.fill {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}
.subs {
    text-indent: 5px;
}
.text-centered {
    text-align: center;
}
h3 {
    margin-top: 5px;
    line-height: 1;
}
h4 {
    line-height: 1;
    margin-top: -15px;
}